<%- include('../partials/headAndNav') %>
<div class="container">
    <Form class="form" method="POST" action="/employee/anything">
        <div>
            <label for="name">Enter the Employee name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="image">Enter the url for the image</label>
            <input type="text" name="img" id="image">
        </div>
        <div>
            <label for="type">What are the birthDate?</label>
            <input type="text" name="type" id="type">
        </div>
        <div>
            <label for="type">Job Title?</label>
            <input type="text" name="type" id="type">
        </div>
        <input type="submit" value="Submit new employee">
    </Form>

</div>
    




<%- include('../partials/footer') %>