<%- include('./partials/headAndNav') %>
<div>
    <h1 class="collection">employees databases</h1>
    <img class="dream" src="https://www.pcwdld.com/wp-content/uploads/systems-management.jpg" alt="#">
  </div>

<%- include('./partials/footer') %>